{% extends "base.html" %}
{% load guest_user %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 class="text-center p-4">Welcome To Task Manager!</h1>


  {% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

  {% if user|is_guest_user %}
    <p class="text-center"> You are logged in as guest.<br>Click <a href="{ url 'guest_user_convert' }">here</a> to convert to a user.

    </p>
  
  {% elif user.is_authenticated %}
    <p class="text-center"> You are logged in as {{ user.first_name }} </p>

  {% else %}
    <p class="fw-medium text-center">

      <a href="{% url "login" %}">Login</a> <br> <br> or 
      <a href="{% url "register" %}">Register</a> or <a href="{% url 'task-list' %}">Login as Guest</a> if you don't have an account.

    </p>
  {% endif %}

{% endblock  %}