<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "home" %}">Task Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "task-list" %} ">Task List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "task-create" %}">Create Task</a>
        </li>
      </ul>
      {% comment %} <form class="d-flex p-1" role="search">
        <input style="width: 40%;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
    {% endif %}

    <ul class="nav justify-content-end">
      {% if user.is_authenticated %}
      <li class="nav-item navbar-text"> Hello, {{ user.first_name }} </li>
      <li class="">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}  
          <button class="btn  nav-item" type="submit">Logout</button>
        </form>
      </li >
      {% else %}
      {% comment %} <li class="nav-item nav-link">
        <a style="text-decoration: none;" href="{% url 'login' %} ">Login</a>
      </li> {% endcomment %}
      {% endif %}
    </ul>
  </div>
</nav>
