{% extends 'base.html' %}
{% block title %}
Task List
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}


<div class="container p-3 col-md-4 mt-1">
  <h1>
    Welcome to Task Manager App.
  </h1>
</div>
<br>
<br>
{% if task_list %}
<div class="container card col-md-6 shadow-lg">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Priority</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for task in task_list %}
      <tr {% if task.status %} class="table-light" {% endif %}>
        <th scope="row">{{ forloop.counter }}</th>
        <td class="fw-bold"><a href="{% url "task-detail" task.id %}">{{ task.title }}</a></td>
        <td class="fw-bold">{{ task.get_priority_display }}</td>
        <td>
          {{ task.due_date }}
        </td>
        <td>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="checkbox-{{ task.id }}" value="{{ task.id }}" {% if task.status %}checked{% endif %} >
            <label class="form-check-label" id="label-{{ task.id }}" >{{ task.get_status_display }}</label>

          </div>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="container card col-md-4 p-5 shadow-lg">
  <div class="card-body text-center">
    <h1>No Task Available!</h1>
    <h3>Create New Task</h3>
    <br>
    <a href="{% url 'task-create' %}" class="btn btn-primary">Create</a>
  </div>
</div>

{% endif %}
{% endblock %}

{% block jquery %}

<script>
  
  $(document).ready(function() {

    $(".form-check-input").change(function() {

      var isChecked = $(this).prop('checked');
      var taskId = $(this).val();

      var data = {
        'task_id': taskId,
        'status' : isChecked ? 'completed' : 'incomplete'
      };
      var csrftoken = getCookie('csrftoken');
      $.ajax({
        url: '{% url 'task-status-update' %}',
        method: 'POST',
        data: data,
        headers: { 'X-CSRFToken': csrftoken },
        success: function (response) {
          if (response.success) {
            var labelElement = $('#label-'+taskId);
            //var checkboxElement = $('#checkbox-'+taskId);
            
            labelElement.text(response.status);
            //checkboxElement.prop('checked');
            
            //console.log(checkboxElement);
          }
          else {
            console.error('Error updating task status:', response.error);
          }
        },
        error: function (xhr, testStatus, errorThrown) {
          console.error('AJAX Error:', errorThrown);

        }
    });
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  
}

});

</script>
{% endblock jquery %}