{% extends 'base.html' %}
{% block title %}
Task List
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}


<div class="container p-3 col-md-4 mt-1">
  <h1>
    Welcome to Task Manager App.
  </h1>
</div>
<br>
<br>
{% if task_list %}
<div class="container card col-md-6 shadow-lg">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Priority</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="">
      {% for task in task_list %}

      <tr class="{% if task.status %} opacity-50 {% endif %}" id="row-{{ task.id }}">

        <th scope="row">{{ forloop.counter }}</th>
        <td class="fw-bold"><a href="{% url "task-detail" task.id %}">{{ task.title }}</a></td>
        <td class="fw-bold">{{ task.get_priority_display }}</td>
        <td>
          {{ task.due_date }}
        </td>
        
        <td>
          <div class="form-check">
            <input type="checkbox" class="btn-check" id="status-check-{{ task.id }}" value="{{ task.id }}" {% if task.status %}checked{% endif %} autocomplete="off">
            <label class="btn {% if task.status %}btn-success{% endif %}" for="status-check-{{ task.id }}"  id="label-{{ task.id }}">{{ task.get_status_display }}</label>
          </div>
        </td>

        <td>
          {% comment %} <div class="form-check">
            <input type="checkbox" class="btn-check" id="delete-check-{{ task.id }}" autocomplete="off">
            <label class="btn btn-danger " for="delete-check-{{ task.id }}">🗑️</label>
          </div> {% endcomment %}
          <form method="post" action="{% url 'task-delete' task.id %}">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-primary btn-danger">
          </form>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="container card col-md-4 p-5 shadow-lg">
  <div class="card-body text-center">
    <h1>No Task Available!</h1>
    <h3>Create New Task</h3>
    <br>
    <a href="{% url 'task-create' %}" class="btn btn-primary">Create</a>
  </div>
</div>

{% endif %}
{% endblock %}

{% block jquery %}

<script>
  
  $(document).ready(function() {


    $(".btn-check").click(function() {

      var checkboxId = $(this).attr('id');
      var csrftoken = getCookie('csrftoken');
      var taskId = $(this).val();

      
      if (checkboxId.startsWith('status-check-')) {
        var isChecked = $(this).prop('checked');

        var data = {
          'task_id': taskId,
          'status' : isChecked ? 'completed' : 'incomplete'
        };


        $.ajax({
          url: '{% url 'task-status-update' %}',
          method: 'POST',
          data: data,
          headers: { 'X-CSRFToken': csrftoken },
          success: function (response) {
            if (response.success) {
              var labelElement = $('#label-'+taskId);
              var rowElement = $('#row-'+ taskId);
              //var checkboxElement = $('#checkbox-'+taskId);
              
              labelElement.text(response.status);
              if (response.status === 'Completed') {

                labelElement.addClass('btn-success');
                rowElement.addClass('opacity-50');
              
              } else {

                labelElement.removeClass('btn-success');
                rowElement.removeClass('opacity-50');

              }
              //checkboxElement.prop('checked');
              
              //console.log(checkboxElement);
            }
            else {
              console.error('Error updating task status:', response.error);
            }
          },
          error: function (xhr, testStatus, errorThrown) {
            console.error('AJAX Error:', errorThrown);

          }
      });

      } else if (checkboxId.startsWith('delete-check-')) {
        // Handle delete checkbox click
      }

      
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }


});

</script>
{% endblock jquery %}